<div class="card">
    <h3 class="card-header text-bg-dark">Edit Profile<% resource_name.to_s.humanize %></h3>
  <div class="card-body">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field form-group">
    <% f.label :email %>
    <%= f.email_field :email, autofocus: true, class:"form-control", placeholder:"Email", autocomplete: "email" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>
<br />
<h5>Change Password:</h5>
<br/>

  <div class="field form-group">
    <% f.label :current_password %> 
    <!--<i>(we need your current password to confirm your changes)</i>-->

    <%= f.password_field :current_password, class:"form-control", placeholder:"Current Password", autocomplete: "current-password" %>
  </div>
    <br />
  <div class="field form-group">
    <% f.label :password %> <!--<i>(leave blank if you don't want to change it)</i>-->
    <%= f.password_field :password, class:"form-control", placeholder:"New Password", autocomplete: "new-password" %>
    <!--<% if @minimum_password_length %>
      <br />
     <em><%= @minimum_password_length %> characters minimum</em>-->
    <% end %>
  </div>

  <div class="field form-group">
    <% f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, class:"form-control", placeholder:" Confirm Password", autocomplete: "new-password" %>
  </div>

<br/>
  <div class="actions">
    <%= f.submit "Update", class:"btn btn-dark" %>
  </div>
<% end %>
</div>
</div>



<br/>
<div class="card">
    <h4 class="card-header text-bg-dark">Delete my account</h4>
  <div class="card-body">
<p>Your account will be <b>permanently</b> deleted:</p>
  <%= button_to "Delete my account", registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete, class:"btn btn-danger" %>
</div>
</div>
<br/>

<%= link_to "Back", :back, class:"btn btn-dark" %>
