
<div class="card">
  <h5 class="card-header"><%= @friend.first_name %> <%= @friend.last_name %> | <%= @friend.twitter %></h5>
  <div class="card-body">
    <h5 class="card-title"><%= @friend.email %></h5>
    <p class="card-text"><%= @friend.phone %></p>
  <%= link_to "Edit", edit_friend_path(@friend), class:"btn btn-secondary" %>
  <%= link_to "Back", friends_path, class:"btn btn-dark" %>
    </div>
</div>
